@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,900;1,400;1,900&family=Montserrat:ital,wght@1,600;1,900&family=Oswald:wght@400;700&family=Roboto:ital,wght@0,400;1,300&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: rgb(13, 12, 12)
}
html {
  scroll-behavior: smooth;
}

.card:hover .icon-bg {
   background-color: black;
  color: #f36100;
 
}


.pricecard:hover{
  background-color: white;;
}
.pricecard:hover .heading{
  color: black;
}
.pricecard:hover button{
  background-color: #f36100;
}

.polygon-clip {
  clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%, 0 100%, 0% 50%);
}


.background{
  background-image: url(../src/Components/Images/classesimg2.jpg);
  height: 75vh;
}

@keyframes slideIn {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
.servicecard:hover{
  background-color: rgba(136, 136, 136, 0.5);
}
.servicecard:hover h3{
  color: #f36100;
  cursor: pointer;
}



@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fadeIn 0.5s ease-out;
}



